<%# app/views/posts/_form.html.erb %>

<%= form_with(model: post, class: "form-container") do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "erro") %> impediu este post de ser salvo:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, "Título" %>
    <%= form.text_field :title %>
  </div>

  <div class="form-group">
    <%= form.label :text, "Texto Curto" %>
    <%= form.text_field :text %>
  </div>

  <div class="form-group">
    <%= form.label :author, "Autor" %>
    <%= form.text_field :author %>
  </div>

  <div class="form-group">
    <%= form.label :body, "Conteúdo" %>
    <%= form.text_area :body, rows: 6 %>
  </div>

  <div class="form-actions">
    <%= form.submit "Salvar Post", class: "btn btn-primary" %>
  </div>
<% end %>


   <script src="https://cdn.tailwindcss.com"></script>
